html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  min-width: -webkit-fill-available;
}

.header {
  width: 100%;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  text-align: center;
  user-select: none;
  background: #187795;
  color: white;
  font-size: 30px;
  position: sticky;
  z-index: 1;
  flex: 0;
}

.container {
  width: 100%;
  margin: 0;
}

.dropzone {
  flex: 1;
  width: 75%;
  margin-top: 8%;
}

.link {
  display: contents;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
}

.modalTitle {
  color: #313131;
  font-size: 30px;
  font-weight: bold;
  user-select: none;
}
