.button {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.iconButton {
  padding: 0;
  margin: 6px;
  background-color: transparent;
  border-color: transparent;
  color: #000000;
  user-select: none;
}