.navBar {
  width: 100%;
  background-color: #187795;
}
.navLeft {
  float: left;
}

.navRight {
  float: right;
}

.navLeftHidden {
  visibility: hidden;
}

.spinner {
  color: white;
  margin-left: 16px;
  margin-right: 16px;
  user-select: none;
}
